* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 700px) {
    font-size: 56%;
  }
  @media (max-width: 375px) {
    font-size: 50%;
  }
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 1.4rem;
  color: $color-primary;
  background-color: #eff0f5;
}

.container {
  min-height: 100vh;
  max-width: 80rem;
}
